<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Recipe Name</th>
        <th>Ingredients</th>
        <th>Prepwork</th>
        <th>Recipe</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="recipe: ${recipes}">
        <td th:text="${recipe.id}"></td>
        <td th:text="${recipe.name}"></td>
        <td th:text="${recipe.ingredients}"></td>
        <td th:text="${recipe.prepwork} ?: 'None'"></td>
        <td th:text="${recipe.recipe}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>